<!DOCTYPE html>
<html>
	<head>
		<title>Hunky Dory Chocolates</title>
		<link rel="stylesheet" href="css/global.css" type="text/css"/>
	</head>
	<body>
		<div>
			<img class="logo" src="images/logo.png"/>
			Coming soon...
		</div>
	<body>
<html>
